.accessories {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.accessories__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;

  &-img {
    width: 280px;
    height: 280px;
    margin-bottom: 10px;
  }

  &-title {
    height: 100%;
    max-height: 67px;
    font-size: 24px;
    color: #000;
  }

  &-text {
    margin-bottom: 34px;
  }

  &-price {
    margin-top: auto;
    margin-bottom: 16px;
    font-weight: 700;
    color: #000;
  }

  &-link {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%) 1;
    background-image: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
