// Media 1024
@media (max-width: 1024px) {
  .games {
    &__title {
      margin-bottom: 20px;
    }
    &__inner {
      grid-template-columns: repeat(3, 1fr);
    }
    &__descr {
      grid-column: 1 / -1;
      margin-bottom: 20px;
    }
  }
}
// End media 1024

// Media 992
@media (max-width: 992px) {
  .features__titles {
    margin-bottom: 20px;
  }

  .tabs {
    display: block;

    &__btn {
      margin-bottom: 20px;
    }
  }

  .tabs__btn {
    display: block;
    column-count: 2;

    &-item {
      display: block;
      text-align: left;
    }
  }

  .tabs__content {
    &-item {
      width: 100%;
    }

    &-img {
      width: 100%;
    }
  }
}
// End media 992

// Media 768
@media (max-width: 768px) {
  .top {
    &__title {
      font-size: 66px;
    }

    &__subtitle {
      font-size: 24px;
    }
  }
}
// End media 768

// Media 630
@media (max-width: 630px) {
  .top {
    text-align: center;
  }

  .buy-btn {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    span {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
// End media 630

// Media 568
@media (max-width: 568px) {
  .top {
    padding-top: 115px;

    &__title {
      font-size: 42px;
    }
  }

  .tabs__btn-item {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .tabs__content-item {
    grid-template-columns: 1fr;
  }

  .video {
    grid-column: auto;
  }

  .games {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}
// End media 568

// Media 460
@media (max-width: 460px) {
  .features__titles {
    flex-direction: column;
  }

  .features__title {
    flex-basis: auto;
  }

  .tabs__btn {
    display: flex;
    gap: 20px;

    &-item {
      margin-bottom: 0;
    }
  }
}
// End media 460
